[mysqld]
max_sort_length = 2000
group_concat_max_len = 102400
max_heap_table_size = 8589934592
max_connections=500
lower_case_table_names=1
default-storage-engine=MyISAM
tmpdir=/home/mysql/data
slave_load_tmpdir=/home/mysql/data
datadir=/home/mysql/data
socket=/home/mysql/data/mysql.sock
user=mysql
server-id = 1
log_bin_trust_function_creators=1
log_bin = /var/log/mysql/mysql-bin.log
expire_logs_days = 10
max_binlog_size = 100M
binlog_do_db = hospital
binlog_ignore_db = cx_zhangkun
open-files-limit = 655360
#######
key_buffer_size = 512M
read_buffer_size = 512M
query_cache_size = 512M
back_log = 300
table_cache = 4096
max_allowed_packet = 2048M
transaction_isolation = REPEATABLE-READ
tmp_table_size = 128M
thread_stack = 512K
thread_cache_size=64
#######
default-character-set=utf8
default-collation=utf8_bin
#######
#default-storage-engine=InnoDB
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
[client]
default-character-set=utf8
[mysql]
default-character-set=utf8
[mysqld]
default-character-set=utf8
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
[mysqlhotcopy]
interactive-timeout
host=192.168.1.199
user=root
password=1qaz@WSX
port=3306
